:root {
  --darkText: #2E2532;
  --clearColor: #fcf9f7;
  --buttonColor: #0077cc;
  --buttonHoverColor: #005fa3;
  --lightDarkField: #ccc;
  --lightDarkBackground: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clearColor);
  color: var(--darkText);
  padding: 1rem;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

h2::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-image: url("../images/logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.pageWrapper {
  max-width: 1200px;
  margin: 0.5rem auto;
  background-color: var(--lightDarkBackground);
  padding: 1rem;
  border-radius: 10px;
}

.logo {
  vertical-align: middle;
  height: 4rem;
  margin-right: 0.5rem;
}

.fieldSet {
  padding: 1.25rem;
  margin-top: 1rem;
}

.legend {
  font-size: 1.5rem;
  font-style: oblique;
  padding: 0 0.5rem;
}

.list {
  list-style-type: none;
  border: 2px groove ThreeDFace;
  padding: 1rem;
}

.item {
  margin-left: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  width: auto;
  text-align: left;
  margin-bottom: 0.3rem;
}

input,
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--darkText);
  border-radius: 6px;
}

input:read-only {
  background-color: var(--clearColor);
}

.radioGroup {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 0;
}

.radioGroup label {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

form>.formGroup:last-child {
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
}

button,
button[type="submit"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: var(--buttonColor);
  color: var(--clearColor);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.25rem auto;
  width: 15rem;
}

button:hover,
button[type="submit"]:hover {
  background-color: var(--buttonHoverColor);
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .formGroup {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  label {
    min-width: 128px;
    max-width: 128px;
    margin-bottom: 0;
    text-wrap: auto;
    text-align: left;
    margin-bottom: 0.3rem;
  }

  input,
  select,
  .radioGroup {
    flex: 1;
    width: auto;
  }
}